.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 170px;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 60px;
  list-style: none;
  font-size: 20px;
}

.nav-connect {
  padding: 20px 40px;
  background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.65%);
  border-radius: 50px;
  font-size: 22px;
  cursor: pointer;
  transition: 0.5s;
}

.nav-connect:hover {
  transform: scale(1.05);
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.nav-menu li img {
  display: flex;
  margin: auto;
}

.logo{
  font-size: 40px;
  font-weight: 700;
  margin-left: -50px;
  margin-top: -10px;
}